$grid-float-breakpoint: 0; 

// ===Spinkit 
//
$spinkit-spinner-margin: 100px 50%; 
$spinkit-size: 50px; 
$spinkit-spinner-color: #2b2f37; 

// ===Bootstrap
//
// ==Panel 

$panel-default-heading-bg:    #F64747; 
