html{
  height: 100%; 
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #DADFE1; 
  height: 100%; 
}
li {
  list-style-type: none 
}

//LOGIN FORM 
.login-form {
  margin-top: 30px; 
}
.register-form {
  margin-top: 30px; 
}

// HEADERBAR
.header span{
  font-size: 18px;
  color: white; 
}
.navbar{
  z-index: 8; 
}
.title{
  padding-left: 60px; 
}
.navbar-default {
  background-color: #F64747; 
  .navbar-brand {
    color: white;
  }
}
// SIDEBAR
.page-with-sidebar{
  padding-left: 62px; 
  padding-top: 50px; 
}

.sidebar-wrapper{
  background: #2b333d;
  width: 62px; 
  position: fixed;
  top: 0px;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  left: 0;
  height: 100%;
  transition-duration: .3s;
  z-index: 10; 
}
.logo span{
  margin-top: 5px; 
  font-size: 40px; 
  color: #dadfe1; 
}
.nav > li > a:hover, .nav > li > a:focus{
  background-color: transparent; 
}
.nav-sidebar{
  margin-top: 35px; 
  margin-bottom: 100px;
  transition-duration: .3s; 
  list-style: none; 
  overflow: hidden;
  a {
    text-align: center;  
    color: #FFF;
    &:hover{
      color: #F64747;   
    }
    &:active{
      color: #F64747; 
    }
  }
  span {
    font-size: 20px; 
  }
  li {
    padding-top: 10px; 
  }
}

.nav {
  padding-left: 0;  
  padding-top: 0px;
}

.content-wrapper {
  width: 100%;    
  // padding-top: 100px; 
}
.vertical-center{
  text-align: center; 
  align-items: center;
}
//FOOTER 
.footer{
  text-align: center;    
  p {
    font-size: 14px; 
  }
}
// SPINNER
.spinner {
  position: absolute; 
  z-index: 100; 
  margin-right: auto; 
  margin-left: auto; 
  left: 0; 
  right: 0; 
}
//PADLOCK TEXT 
.padlock{
  display: block; 
  margin-right: auto; 
  margin-left: auto; 
  width: 200px; 
}
.login-list{
  padding-left: 50px; 
  padding-right: 50px; 
}
