.dropdown-menu{
  left: auto; 
}
//CREATE MENU 
.create-menu {
  width: 320px; 
  color: #8c8c8c;
  z-index: 70; 
  overflow: hidden;
  position: absolute;
  top: 50px;
  right: 0;
  float: left;
  margin: 2px 2px 0;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  hr{
    border: 0;
    border-top: 1px solid #eeeeee;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.create-menu-item{
  width: 100%;
  padding: 6px 10px 10px; 
  display: block;
  &:hover {
    background-color: #F64747; 
    span {
      color: white;   
    }
  }
  a { 
    color: black; 
    font-size: 14px; 
    font-weight: 700; 
    cursor: pointer; 
    text-decoration: none; 
  } 
  span {
    display: block; 
    font-size: 14px; 
    color: #8c8c8c;
    font-weight: 400; 
  }
  li {
    text-align: left;  
  }
}

.create-new{
  padding: 10px 10px 0; 
  span{
      color: black; 
      font-weight: 700; 
  }
} 

.create-new-header{
  color: #8c8c8c;
  height: 30px;
  line-height: 30px;
  position: relative;
  margin-bottom: 10px;
  div{
    vertical-align: middle;
    text-align: center;
    position: absolute;
    padding: 5px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.create-menu-icon{
  padding: 10px 10px 10px 10px;
  position: absolute;
  top: 0;
  z-index: 2;
  text-decoration: none; 
  color: #8c8c8c;
  cursor: pointer; 
  &:hover{
    color: #8c8c8c;
    text-decoration: none;
  }
}

.create-menu-close{
  right: 0;
}

.create-menu-back{
  left: 0;
}

.login-card-form{
  line-height: 30px; 
}
.newlogincard-input{
  height: 30px; 
}
.newlogincard-submit{
  margin-top: 8px; 
}
.create-new-group{
  margin-bottom: 10px; 
}
