.group-menu{
  width: 320px;
  height: 100%;
  padding: 45px 10px;
  background-color: white;
}

.group-menu-heading{
  text-align: center;
  margin: 10px; 
}

.group-search-member-input{
  padding-right: 10px; 
  float: left;
  width: 260px;
}

.clearfix{
  clear:both;
}

.admin-tag{
  color: red;
  position: fixed;
  right: 18px;
}

.delete-tag{
  position: fixed;
  right: 18px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  &:hover{
    color: black;
  }
}

// .leave-button{
//   position: fixed; 
//   right: 10px;
// }
