.login-card{
  padding: 55px 10px 0 20px ; 
  background: white; 
  height: 100%;
}

.login-card-header{
  a{
    text-decoration: none; 
    cursor: pointer; 
    padding: 30px 20px; 
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    font-size: 17px;
    color: black; 
  }
}

@media (max-width: 350px){
  .login-card-body{
    width: 100%;
  }
}

@media (min-width: 350px){
  .login-card-body{
    width: 321px;
  }
}
